/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* estilos generales*/

header {
  text-align: center;
  padding: 30px;
}
header nav div a img {
  height: 200px;
  width: 200px;
}
header nav div button span img {
  height: 200px;
  width: 200px;
}

header nav ul {
  background-color: #c2c231;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-style: italic;
}
header nav ul li {
  background-color: #7f47dd;
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}
/*estilos del index*/
main {
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: #7f47dd;
}

h1 {
  font-family: "Blaka Hollow", cursive;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 4px;
}

h2 {
  margin: 20px;
}

h3 {
  margin: 20px;
}

footer {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  background-color: #7f47dd;
}

.contenedor-img-uno {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.hijos-img-relative {
  position: relative;
  top: 15px;
}

.item-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70px;
}
.contenedor-img-dos {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.hijos-img-relative-dos {
  position: relative;
  top: 10px;
}

.contenedor-img-tres {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.contenedor-img-drops-uno {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 60px;
}

.contenedor-img-drops-dos {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 80px;
}
.drop-uno {
  position: relative;
  top: 70px;
}

.drop-dos {
  position: relative;
  top: 80px;
}

.drop-tres {
  position: relative;
  top: 10px;
}

.drop-cuatro {
  position: relative;
  top: 61px;
}

.hijos-img-relative-tres {
  position: relative;
  top: -15px;
}

.hijos-img-relative-cuatro {
  position: relative;
  top: 56px;
}

.ig-link {
}
.tktk-link {
}

/*mq de  tablet   */
@media screen and (min-width: 600px) {
  header {
    background-color: aqua;
  }
  /*.tktk-link{
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 11px;
    margin-left: 340px;
    color: #7f47dd;
    text-decoration: none;
  }*/
}
